<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        //- <meta http-equiv="refresh" content="2" >
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
        <title>#{ title }</title>
        style 
            include ../public/stylesheets/allproductspage.css
    </head>
        a(class='button' href='/form') NO Form
    <body class='bodyWrapper'>
    <section>
        <div class='mainWrap'> 
            each unit in product
                <div class='productWrapper'>
                <div class='productImgWrap'>img </div>
                <span class='nameAndPriceFlexWrap'>
                <section class='productNameWrap'>
                    <h2 class='productNameDiv'>#{unit.strainName} #{unit.qty}G</h2>
                <div class='thcPercentWrap'>
                    <h3 class='productClassificationDiv'>#{unit.classification}</h3><span class="dot"></span>
                    <h3 class='thcPercentDiv'>THC: #{unit.cannabanoids.THC}%</h3>                             
                </div>
                </section>
                <div class='priceWrap'>
                    <h3 class='priceDiv'><span class='priceWrapGramDiv'>#{unit.qty}g -</span> <br>$#{unit.price}</h3> 
                    <span class='percentOffWrap'>Buy Now</span>                  
                </div>
                </span>
                </div>
        </div>
    </section>
    </body>
