<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Explora&family=IBM+Plex+Serif:wght@100;500&display=swap" rel="stylesheet">
        <title>#{ title }</title>
        style 
            include ../public/stylesheets/allproductspage.css
            include ../public/stylesheets/searchbar.css
    </head>
    <nav class='navbar'>
        <div class='brandTitle'><a href='/loginpage'><svg id='loginSVG' style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="currentColor" d="M4,6H2V20A2,2 0 0,0 4,22H18V20H4V6M20,2A2,2 0 0,1 22,4V16A2,2 0 0,1 20,18H8A2,2 0 0,1 6,16V4A2,2 0 0,1 8,2H20M17,7A3,3 0 0,0 14,4A3,3 0 0,0 11,7A3,3 0 0,0 14,10A3,3 0 0,0 17,7M8,15V16H20V15C20,13 16,11.9 14,11.9C12,11.9 8,13 8,15Z" />
            </svg></a></div>
            <a href='/home'>
                <span class=headerlogohomepage><h1 class=headerlogoname>Aphria</h1> <h2 class=headerlogoslogan>Fine Dining</h2>
                </span>
            </a>
        <div class='linksWrap' id='linksWrap'>
            <span class='burgerMenuWrap' id='burgerWrap'>
                <svg class='hamburgerIcon' id='burger' style="width:34px;height:34px" viewBox="0 0 24 24">
                <path fill="currentColor" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
                </svg>
            </span>
            a(class='navbarLinks' href='/home' id='navbarLinks') Home
            a(class='navbarLinks' href='/foodmenu' id='navbarLinks2') Food Menu
            a(class='navbarLinks' href='/drinksmenu' id='navbarLinks3') Drink Menu
            a(class='navbarLinks' href='/loginpage' id='navbarLinks4') Employee<br>Portal    
        </div>
    </nav>
    <section class=productwrapsection>
    <h1 class='productTypeHeader'>Current Menu</h1> 
    <body class='bodyWrapper'>
        <div class='mainWrap'> 
            each appetizer in appetizers
                <div class='productWrapper'>
                <span class='nameAndPriceFlexWrap'>
                <section class='productNameWrap'>
                    <h2 class='productNameDiv'>#{appetizer.strainName}</h2>
                <div class='thcPercentWrap'>
                    <h3 class='productClassificationDiv'>#{appetizer.classification}</h3><span class="dot"></span>
                    <h3 class='thcPercentDiv'>$#{appetizer.price}</h3>                             
                </div>
                <p class='productdescriptions'>
                    |#{appetizer.topTerpenes}

                </p>
                </section>
                </span>
                </div>
        </div>
        each entree in entrees
            <div class='productWrapper'>
            <span class='nameAndPriceFlexWrap'>
            <section class='productNameWrap'>
                <h2 class='productNameDiv'>#{entree.strainName}</h2>
            <div class='thcPercentWrap'>
                <h3 class='productClassificationDiv'>#{entree.classification}</h3><span class="dot"></span>
                <h3 class='thcPercentDiv'>$#{entree.price}</h3>                             
            </div>
            <p class='productdescriptions'>
                |#{entree.topTerpenes}
            </p>
            </section>
            </span>
            </div>
        </div>
            each dessert in dessertarr
                <div class='productWrapper'>
                <span class='nameAndPriceFlexWrap'>
                <section class='productNameWrap'>
                    <h2 class='productNameDiv'>#{dessert.strainName}</h2>
                <div class='thcPercentWrap'>
                    <h3 class='productClassificationDiv'>#{dessert.classification}</h3><span class="dot"></span>
                    <h3 class='thcPercentDiv'>$#{dessert.price}</h3>                             
                </div>
                <p class='productdescriptions'>
                    |#{dessert.topTerpenes}
                </p>
                </section>
                </span>
                </div>
        </div>
    </section>
    </body>
    script
        include ../src/hamburgerMenuScript.js
