<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        //- <meta http-equiv="refresh" content="3" >
        <title>#{ title }</title>
        style 
            include ../public/stylesheets/style.css
            include ../public/stylesheets/formpage.css
            include ../public/stylesheets/searchbar.css
    </head>
<header class=header> 
      <nav class='navbar'>
        <div class='brandTitle'><a href='/loginpage'><svg id='loginSVG' style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="currentColor" d="M4,6H2V20A2,2 0 0,0 4,22H18V20H4V6M20,2A2,2 0 0,1 22,4V16A2,2 0 0,1 20,18H8A2,2 0 0,1 6,16V4A2,2 0 0,1 8,2H20M17,7A3,3 0 0,0 14,4A3,3 0 0,0 11,7A3,3 0 0,0 14,10A3,3 0 0,0 17,7M8,15V16H20V15C20,13 16,11.9 14,11.9C12,11.9 8,13 8,15Z" />
            </svg></a></div><span class=headerlogo><a href='/home'><img class=logoimg src='/images/Aphria.png'></a> </span>
        <div class='linksWrap' id='linksWrap'>
            <span class='burgerMenuWrap' id='burgerWrap'>
                <svg class='hamburgerIcon' id='burger' style="width:34px;height:34px" viewBox="0 0 24 24">
                <path fill="currentColor" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
                </svg>
            </span>
            a(class='navbarLinks' href='/home' id='navbarLinks') Home
            a(class='navbarLinks' href='/home' id='navbarLinks2') Flower
            a(class='navbarLinks' href='/concentrates' id='navbarLinks3') Concentrates
            a(class='navbarLinks' href='/concentrates' id='navbarLinks4') Log-In     
        </div>
      </nav>
      //- <span class=triangle-banner-wrap><span class=triangle></span></span>
</header>
<body>
    p New Product Form
    <form class='formWrap' method="POST" action='/form'>

        <label> Type
            <select name='type' required>
                <option name='type' value='Concentrate'>Concentrate</option>
                <option name='type' value='Flower'>Flower</option>
            </select>
        </label>

        <label> Strain and Product Type
            <input name='strain' type='text' placeholder='Ex: OG Kush Budder/Flower' required>
        </label>

        <label> Classification
            <select name='classification' required>
                <option name='classification' value='Indica'>Indica</option>
                <option name='classification' value='Sativa'>Sativa</option>
                <option name='classification' value='Hybrid'>Hybrid</option>
                
            </select>
        </label>

        <label> THC % 
            <input name='cannabanoidsTHC' step=".01" type='number' min=1 max=100 palceholder='Ex: 22%' required>
        </label>

        <label> CBD % 
             <input name='cannabanoidsCBD' step=".01" type='number' palceholder='Ex: 0.05%'>
        </label>

            <span>Top 3 Terpenes</span>
            <fieldset name='terpenes'>
            <label>
                <input name='terpenes' type='checkbox' value='Myrcene'>Myrcene
            </label>
            <label>
                <input name='terpenes' type='checkbox' value='Caryophyllene'>Caryophyllene
            </label>
            <label>
                <input name='terpenes' type='checkbox' value='Limonene'>Limonene 
            </label>
            <label>
                <input name='terpenes' type='checkbox' value='Pinene'>Pinene
            </label>
            <label>
                <input name='terpenes' type='checkbox' value='Terpinolene'>Terpinolene
            </label>
            <label>
                <input name='terpenes' type='checkbox' value='Linalool'>Linalool    
            </label>            
            </fieldset>
      

        <label> Qty In Grams
            <input name='qty' type='number' step="any" placeholder='Ex: 3.5' min=1 max=28 required>
        </label>

        <label> Price
            <input name='price' step=".01" type='number' placeholder='Ex: 30.00' min=1 required>
        </label>
            <label> Image
                <input name='image' type='file' >    
            </label>  

            <button type='submit' class='new-product-submit-btn'> Submit </button>
    </form>
        
</body>

</html>