<!DOCTYPE html>
<html lang="en">
  <head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Carrois+Gothic+SC&family=Explora&family=IBM+Plex+Serif:wght@100;500&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    //- <meta http-equiv="refresh" content="2" >
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <title>Aphria Fine Dining</title>
    style 
      include ../public/stylesheets/homepage.css
      include ../public/stylesheets/searchbar.css
      include ../public/stylesheets/footer.css
  </head>
<header class=header>
  <nav class='navbar'>
    <div>
      <a href='/home'><span class=headerlogohomepage><h1 class=headerlogoname>Aphria</h1> <h2 class=headerlogoslogan>Fine Dining</h2>
      </span></a></div>
      <div class='burgerMenuWrap' id='burgerWrap'>
        <svg class='hamburgerIcon' id='burger' style="width:34px;height:34px" viewBox="0 0 24 24">
        <path fill="currentColor" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
        </svg>
      </div>
    <div class='linksWrap' id='linksWrap'>
      <div class=x>
        a(class='navbarLinks' href='/home' id='navbarLinks') Home
        a(class='navbarLinks' href='/foodmenu' id='navbarLinks2') Food Menu
        a(class='navbarLinks' href='/drinksmenu' id='navbarLinks3') Drink Menu
        a(class='navbarLinks' href='/loginpage' id='navbarLinks4') Employee<br>Portal 
      </div>    
    </div>
  </nav>
<picture>
  <source media="(min-width: 650px)" srcset="/images/drink.avif">
  <img src=/images/drinkmobile.jpg>
</picture>
</header>
<span class=arrowrap>
  //- <button id='downarrowbtnid' class='downarrowbtn'>
  //-   <svg class='downarrowsvg' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>Navigate down</title>
  //-   <path d="M9,4H15V12H19.84L12,19.84L4.16,12H9V4Z" />
  //-   </svg>
  //- </button>
</span>
<body>
  <div class=top-banner-bg-image></div>
  <div class=parallax-break-div id=parallax-break-div >
  <h4 id=parallax-break-top class=hide>
    <div class=break-banner-top>Find</div>
    <div class=break-banner-mid>Your</div>
    <div class=break-banner-bottom>Muse</div>
  </h4>
  </div>
  <section class=itemsection>
  <div id=categoriesaccordian class=categoriesaccordian>
  <picture class=accordianimagewrap>
  <source media="(min-width: 650px)" srcset="/images/plates.avif">
  <img src=/images/platesmobile.jpg>
  <ul class=categoriesul> 
    <a href='/foodmenu'><li class=categorylineitemsfood><div class=productsheaderwrap><h3 class=productheadershop>Current Food<br>Menu<br></h3></div></li></a>
    <a href='/drinksmenu'><li class=categorylineitemsdrinks><div class=productsheaderwrap><h3 class=productheadershop>Current Drink<br>Menu<br></h3></div></li></a>
</picture>
  </div>
  </section>
  </body>
  <div id=parallax-break class=parallax-break-div>
  <h4 id=break-banner class=hide>
    <div class=break-banner-top>Find</div>
    <div class=break-banner-mid>Your</div>
    <div class=break-banner-bottom>Happiness</div>
  </h4>
  </div>
  <div class=featured-items-parallax-wrap>
  <picture>
  <source media="(min-width: 650px)" srcset="/images/happy.avif">
  <img src=/images/happymobile.jpg>
  </picture>  
    <article class=featureditemsaccordian>
  </article>  
</div>
<div class=footer>
  <svg class=hidesvg id=totopsvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>Navigate up</title><path d="M7.41,18.41L6,17L12,11L18,17L16.59,18.41L12,13.83L7.41,18.41M7.41,12.41L6,11L12,5L18,11L16.59,12.41L12,7.83L7.41,12.41Z" /></svg>
</div>
script(type='text/javascript' src='src/hamburgerMenuScript.js')
script(type='text/javascript' src='src/intersectionobserver.js')
script(type='text/javascript' src='src/homepagescript.js')
  