<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        //- <meta http-equiv="refresh" content="2" >
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
        <title>#{ title }</title>
        style 
            include ../public/stylesheets/loginpage.css
    </head>
    <body class='body'>
        - let user = { name: 'Juan', loggedIn: true }
        if user.loggedIn 
            h2.green Welcome Back #{login} 
        else 
           h2 Please Log-In

   
    <div class=formTabsWrap>
    <span class=registerheader>New employee? <a href='/register'>Register</a>
    //- <button id=signuptab>Sign Up</button>
    </span>
        <form id=loginform class='loginForm' method="POST" action=/loginpage>  Employee Login
            <label for='username'>Username </label>
                <input required name='username' type=text>
            
            <label for='password'>Password </label>
                <input required name='password'>    
            <button class=submitbtn type='submit' type=text>Log-In</button>
        </form>
    </div>
    </body>
    script
        include ../src/loginpagescripts.js