<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        //- <meta http-equiv="refresh" content="2" >
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
        <title>#{ title }</title>
        style 
            include ../public/stylesheets/loginpage.css
            include ../public/stylesheets/searchbar.css
    </head>
<header class=header> 
      <nav class='navbar'>
        <div class='brandTitle'><a href='/loginpage'><svg id='loginSVG' style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="currentColor" d="M4,6H2V20A2,2 0 0,0 4,22H18V20H4V6M20,2A2,2 0 0,1 22,4V16A2,2 0 0,1 20,18H8A2,2 0 0,1 6,16V4A2,2 0 0,1 8,2H20M17,7A3,3 0 0,0 14,4A3,3 0 0,0 11,7A3,3 0 0,0 14,10A3,3 0 0,0 17,7M8,15V16H20V15C20,13 16,11.9 14,11.9C12,11.9 8,13 8,15Z" />
            </svg></a></div><span class=headerlogo><a href='/home'><img class=logoimg src='/images/Aphria.png'></a> </span>
        <div class='linksWrap' id='linksWrap'>
            <span class='burgerMenuWrap' id='burgerWrap'>
                <svg class='hamburgerIcon' id='burger' style="width:34px;height:34px" viewBox="0 0 24 24">
                <path fill="currentColor" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
                </svg>
            </span>
            a(class='navbarLinks' href='/home' id='navbarLinks') Home
            a(class='navbarLinks' href='/home' id='navbarLinks2') Flower
            a(class='navbarLinks' href='/concentrates' id='navbarLinks3') Concentrates
            a(class='navbarLinks' href='/concentrates' id='navbarLinks4') Log-In     
        </div>
      </nav>
      
      //- <span class=triangle-banner-wrap><span class=triangle></span></span>
</header>
    <body class='body'>
        //- - let user = { name: 'Juan', loggedIn: true }
        //- if user.loggedIn 
        //-     h2.green Welcome Back #{login} 
        //- else 
        //-    h2 Please Log-In

   
    <div class=formTabsWrap>
    <span class=registerheader>New employee? <a href='/register'>Register</a>
    //- <button id=signuptab>Sign Up</button>
    </span>
        <form id=loginform class='loginForm' method="POST" action=/loginpage>  Employee Login
            <label for='username'>Username </label>
                <input required name='username' type=text>
            
            <label for='password'>Password </label>
                <input required name='password'>    
            <button class=submitbtn type='submit' type=text>Log-In</button>
        </form>
    </div>
    </body>
    script
        include ../src/intersectionobserver.js