<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        //- <meta http-equiv="refresh" content="2" >
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
        <title>#{ title }</title>
        style 
            include ../public/stylesheets/registerpage.css
    </head>
    <body class='body'>
        //- - let user = { name: 'Juan', loggedIn: true }
        //- if user.loggedIn 
        //-     h2.green Welcome #{login}
        //- else 
        //-    h2 Please Log-In

   
    <div class=formTabsWrap>
    <span>Already a user? <a href='/loginpage'>Log-In</a>
    //- <button id=signuptab>Sign Up</button>
    </span>
        <form id=newuserform class='signupform' method="POST" action='/register'>  New User
            <label for='username'>Username </label>
                <input required name='newusername'>

            <label for='password'>Password </label>
                <input required name='newpassword'>  

            <label for='managerid'>Manager ID </label>
                <input name='managerid'>    
      
            |<button class=registerbtn type='submit'>Sign-Up</button>
        </form>
    </div>
    </body>
    script
        include ../src/loginpagescripts.js